name: Deploy MERN App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      # ------------------------------
      # CHECKOUT
      # ------------------------------
      - name: Checkout code
        uses: actions/checkout@v3

      # ------------------------------
      # SETUP NODE
      # ------------------------------
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: |
            backend/package-lock.json
            client/package-lock.json
      # ------------------------------
      # BACKEND SETUP
      # ------------------------------
      - name: Install backend dependencies
        working-directory: ./backend
        run: npm install

      - name: Create backend .env file
        working-directory: ./backend
        run: |
          echo "${{ secrets.PROD_BACKEND_ENV }}" > .env
      - name: Start backend with PM2
        working-directory: ./backend
        run: |
          /home/ubuntu/.nvm/versions/node/v22.21.1/bin/pm2 restart backend || /home/ubuntu/.nvm/versions/node/v22.21.1/bin/pm2 start index.js --name backend
      # ------------------------------
      # FRONTEND SETUP
      # ------------------------------
      - name: Clean frontend dependencies
        working-directory: ./client
        run: |
          rm -rf node_modules package-lock.json
          npm cache clean --force
      - name: Install frontend dependencies
        working-directory: ./client
        run: npm install

      - name: Create frontend .env file
        working-directory: ./client
        run: |
          echo "${{ secrets.PROD_FRONTEND_ENV }}" > .env
      - name: Build frontend
        working-directory: ./client
        run: npm run build

      # ------------------------------
      # DEPLOY TO NGINX
      # ------------------------------
      - name: Deploy frontend to Nginx
        run: |
          sudo rm -rf /var/www/html/*
          sudo cp -r ./client/dist/* /var/www/html/
